site_name: PD4M data model Documentation
site_description: Documentation for PD4M LinkML schema.
site_author: Gustav R. Jansen

docs_dir: docs

theme:
  name: readthedocs

nav:
  - Home: index.md

plugins:
  - search
  - mermaid2
